
.vs/GerenciamentoDoceria/FileContentIndex/37c775f2-bc71-46fa-b399-d8ecabfd2fc2.vsidx
*.vsidx
.vs/GerenciamentoDoceria/FileContentIndex/read.lock
.vs/GerenciamentoDoceria/v17/.suo
.vs/GerenciamentoDoceria/config/applicationhost.config
